.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .game-count {
    color: white;
    font-size: 3vh;
  }

  .hint {
    color: black;

    &:hover {
      color: white;
    }
  }
}
